# Azure AI Foundry / Agents
PROJECT_ENDPOINT="https://<server>.services.ai.azure.com/api/projects/proj-default"
MODEL_DEPLOYMENT_NAME="gpt-4o-mini"

# MCP Docs Server (HTTP)
MCP_DOCS_SERVER_BASEURL="http://localhost:8080"

# Azure AI Search
AZURE_SEARCH_ENDPOINT="https://<server>.search.windows.net"
AZURE_SEARCH_INDEX_NAME="index-name"
AZURE_SEARCH_API_KEY="key"
AZURE_SEARCH_API_VERSION=2024-07-01  

# Existing Storage Account (used only for uploading demo docs and for Search indexer datasource)
BLOB_ACCOUNT_NAME="account1"
BLOB_CONTAINER_NAME="container1"
BLOB_SUBSCRIPTION_ID="<subid>"
BLOB_RESOURCE_GROUP="rg-search-poc"

# Demo output
CHANGE_REQUEST_OUTPUT_DIR="data/change_requests_out"
